<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{routeTitle}}</h1>
                </div>
                <div class="col-sm-6">
                    <a [routerLink]="['./new']" class="btn btn-primary float-right">New</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <button (click)="exportexcel()" class="btn btn-success btn-sm">
                Export
            </button>

            <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input (input)="search()" type="text" name="table_search" class="form-control float-right" placeholder="Search"
                        [(ngModel)]="term">

                    <div class="input-group-append">
                        <button (click)="search()" class="btn btn-default">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap" id="excel-table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Remark</th>
                        <th>Created Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="items.length > 0">
                    <tr *ngFor="let item of items | paginate: { itemsPerPage: 10, currentPage: page }">
                        <td>{{item.id}}</td>
                        <td><a [routerLink]="['./detail', item.id]">{{item.name}}</a></td>
                        <td>{{item.remark}}</td>
                        <td>{{item.createdAt | date}}</td>
                        <td>
                            <a [routerLink]="['./', item.id]"><i class="d-inline fas fa-edit nav-link"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="items.length == 0">
                    <tr>
                        <td colspan="6" class="align-middle">No result...</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            <pagination-controls (pageChange)="page = $event" class="pagination pagination-sm m-0 float-right">
            </pagination-controls>
        </div>
    </div>
</div>